@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-old: var(--font-medieval);
  --font-style: var(--font-cinzel);
  --font-eh: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant), var(--font-medieval), var(--font-cinzel);
}
